In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
num1=20
num2=20
add=num1+num2
print(add)

40

**PRINT RESULT WITH STRING**

In [4]:
num1=20
num2=30
add=num1+num2
print('the addition of' ,num1,'and',num2, 'is=',add)

the addition of 20 and 30 is= 50

In [8]:
name='saniya'
age=20
city='hyd'

In [10]:
print('my name is',name,'and i am',age,'years old from', city)

my name is saniya and i am 20 years old from hyd

**PRINT FORMAT METHOD**

In [11]:
num1=20
num2=30
add=num1+num2
print('the addition of{} and{}'.format(num1,num2,add))

the addition of20 and30

In [24]:
num1=100
num2=25
num3=3333
avg=(num1+num2+num3)/3#
avg1=round((num1+num2+num3)/3,2)
print('the avg of{}, {} and {} is= {} or {}'.format(num1,num2,num3,avg,avg1))

the avg of100, 25 and 3333 is= 1152.6666666666667 or 1152.67

In [25]:
round(avg,2) #round of till 4 digit after decimal

1152.67

**SHORT FORMS (F STRING METHOD)**

In [26]:
num1=20
num2=30
add=num1+num2
print(f'the addition of {num1} and {num2} is={add}')

the addition of 20 and 30 is=50

In [28]:
name='saniya'
age=20
city=('hyd')
print(f'hello my name is {name}, and iam {age} year old, from {city}.')

hello my name is saniya, and iam 20 year old, from hyd.

In [32]:
num4=100
num5=25
num6=333
avg=round((num4+num5+num6)/3,2) 
print(f'the average of {num4}, {num5}and {num6} is ={avg}')

the average of 100, 25and 333 is =152.67

**combining all**

In [33]:
num1=10
num2=20
add = num1+num2
print('the addition of', num1, 'and',num2, 'is=',add)
print('the adddition of{} and {} is ={}'. format(num1,num2,add))
print(f'the addition of {num1} and {num2} is={add}')

the addition of 10 and 20 is= 30
the adddition of10 and 20 is =30
the addition of 10 and 20 is=30

**END STATEMENT**

In [34]:
print('hello')
print('good morning')

hello
good morning

**now using end statemnt tht joint line from end of one string to starting of other strng**

In [36]:
print('hello ',end='')
print('world good day')

hello world good day

**SEPARATOR**

In [ ]:
*HERE ONE PRINT STATEMNT ONLY WE USE

In [ ]:
*INSIDE ONE PRINT STATEMNT WE HAVE MULTIPLE VALUES

In [ ]:
*WE WANT TO SEPARATE THESE MULTIPLE VALUES WITH ANYTHING

In [39]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [40]:
print('hello','hai','how are you',sep='!!')

hello!!hai!!how are you

In [44]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [45]:
print(3,'.')

3 .

print(3,'.',sep='')

In [48]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.

**PYTHON TUTORIAL**

In [49]:
import sys
import keyword
import operator
from datetime import datetime
import os

**KEYWORDS WHICH ARE RESERVED CANT BE USE AS IDENTIFIER**

In [50]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [51]:
len(keyword.kwlist)

35

**identifiers**

In [ ]:
An identifier is a name given to entities like class function variables etc..
it helps to defferentiate one entity from other

In [52]:
1var=10 #dentifier cant start with a digit

SyntaxError: invalid decimal literal (3884289996.py, line 1)

In [54]:
val@13 #identifier cant use special charct symbols

NameError: name 'val' is not defined

In [53]:
import =24 #keywords cant be used as identifiers

SyntaxError: invalid syntax (285841627.py, line 1)

In [55]:
#correct way of defining an identifier
val2=99

In [56]:
val_=99

**COMMENTS IN PYTHON**

In [57]:
#SINGLE LINE COMMENT
VAL1 = 10

In [ ]:
#MULTIPLE
#LINE
#COMMENT
VAL 1 = 10

In [ ]:
'''MULTIPLE
LINE 
COMMENT
'''
VAL1 = 10

In [ ]:
"""
MULTIPLE 
LINE
COMMENT
""" VAL1 = 10

# STATEMENTS

In [59]:
p = 20
q = 20
r = q
p, type(p), hex(id(p))

(20, int, '0x7ffb454e2c18')

In [60]:
q, type(q), hex(id(q))

(20, int, '0x7ffb454e2c18')

In [61]:
r , type(r), hex(id(r))

(20, int, '0x7ffb454e2c18')

In [62]:
p = 20
p = p+ 10 #variable overwriting
p

30

# variable assigment

In [63]:
intvar   = 10 #integer variable
floatvar = 2.57 #float variable
strvar   = "python language" #string variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
python language

# multiple assignments

In [64]:
intvar , floatvar ,strvar =10,2.57, "pyhton language" 
print(intvar)
print(floatvar)
print(strvar)

10
2.57
pyhton language

In [65]:
p1=p2=p3=p4= 44
print(p1,p2,p3,p4)

44 44 44 44

# data types

**numeric**

In [67]:
val1 = 10 #Integer data type
print(val1)
print(type(val1))
print(sys.getsizeof(val1)) #size of integer obj in bytes
print (val1, "is integer?", isinstance(val1,int))

10
<class 'int'>
28
10 is integer? True

In [68]:
val2=92.78 #float data type
print(val2)
print(type(val2)) #size of float obj in bytes
print(sys.getsizeof(val2))
print(val2, "is float?", isinstance(val2,float))

92.78
<class 'float'>
24
92.78 is float? True

In [71]:
val3 = 25+ 10j #complex data type
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, "is complex?", isinstance(val3, complex))

(25+10j)
<class 'complex'>
32
(25+10j) is complex? True

In [72]:
 sys.getsizeof(int())

28

In [73]:
sys.getsizeof(float())

24

In [78]:
sys.getsizeof(complex())

32

# boolean

boolean data type can hve only two possible values True or False

In [79]:
bool1 = True
bool2 = False
print(type(bool1))

<class 'bool'>

In [80]:
print(type(bool2))

<class 'bool'>

In [81]:
isinstance(bool1,bool)

True

In [82]:
bool(0)

False

In [83]:
bool(1)

True

In [85]:
bool(None)

False

In [87]:
bool (False)

False

# strings

**string creation**

In [95]:
str1 ="HELLO PYTHON"
print(str1)

HELLO PYTHON

In [96]:
mystr ='hello world'
print(mystr)

hello world

In [97]:
mystr ='''Hello 
        World'''
print(mystr)

Hello
        World

In [99]:
mystr2 = 'WOOHOOooooo'
mystr2 =mystr2*6
mystr2

'WOOHOOoooooWOOHOOoooooWOOHOOoooooWOOHOOoooooWOOHOOoooooWOOHOOooooo'

In [100]:
len(mystr2) #length of string

66

# indexing

In [101]:
str1

'HELLO PYTHON'

In [102]:
str1[0] #first charact in string "str1"

'H'

In [103]:
str1[-1] #last char in str1

'N'

In [104]:
str1[len(str1)-1] #last char in str len str

'N'

In [105]:
str1[6] #7th elemnt of str

'P'

In [108]:
str1[5]

' '

# string slicing

In [109]:
str1[0:5] #str slicing *fetch all char from 0to 5 index loctn

'HELLO'

In [110]:
str1[6:12]

'PYTHON'

In [111]:
str1[-4]

'T'

In [112]:
str1[-4:] #last 4 char of string

'THON'

In [113]:
str1[-6:] #last 6 char of string

'PYTHON'

In [114]:
str1[:4] #retreive first four char of str

'HELL'

In [116]:
str1[:6]

'HELLO '

# update and delete string

In [117]:
str1

'HELLO PYTHON'

In [ ]:
#strings are immutable which means  elements of a str cannot be chnged once entered

In [118]:
str1[0:5] = 'hola'

TypeError: 'str' object does not support item assignment

In [119]:
 del str1
print(str1)

NameError: name 'str1' is not defined

# string concatenation

In [121]:
#string concatenation
s1 = "Hello"
s2 = " saniya"
s3 = s1 + s2
print (s3)

Hello saniya